body {
  max-width: 570px;
  max-height: 590px;
  background-color: #F7F7F7;
  margin: 55px auto;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding: 0;
}

a {
  text-decoration: none;
}

form {
  padding: 35px 34px 16px 34px;
  background-color: #FFFFFF;
}

h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 133%;
  color: #1c1c1c;
  margin: 0 0 20px;
}

.fields-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 12px;
}

input,
select,
.sing-up,
.update {
  height: 38px;
  padding: 0;
  border: 1px solid #e4e4e4;
  border-radius: 6px;
  margin-top: 7px;
  outline: none;
}

input,
select,
.sing-up {
  width: 100%;
}

input[type="email"] {
  margin-bottom: 7px;
}

input:hover,
select:hover {
  border-color: #007BFF;
}

input:focus {
  border: 1px solid #007BFF;
}

.wide-sell {
  grid-column: span 2;
}

label {
  font-weight: 400;
  font-size: 15px;
  line-height: 147%;
  letter-spacing: -0.01em;
  color: #545454;
  margin-bottom: 20px;
}

.text-note {
  font-weight: 400;
  font-size: 13px;
  line-height: 138%;
  letter-spacing: -0.01em;
  color: #969696;
}

.radio {
  display: flex;
  margin-bottom: 20px;
  position: relative;

  input {
    width: 20px;
    height: 20px;
    margin: 0 8px 0 0;
  }

  label {
    margin: 0 20px 0 0;
  }

  input[type="radio"]:checked {
    display: none;
  }

  input[type="radio"]:checked+label::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(images/on.svg);
  }
}

.select {
  padding-left: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 147%;
  letter-spacing: -0.01em;
  color: #969696;
}

label:has(select)::after {
  content: url(images/arrow-double.svg);
  width: 18px;
  height: 18px;
  pointer-events: none;
  position: absolute;
  margin: 17px -21px;
  background: white;
}

.sing-up,
.update {
  background-color: #007bff;
  color: #FFFFFF;
  margin-block: 0 22px;
  font-weight: 500;
  font-size: 15px;
  line-height: 147%;
  letter-spacing: -0.01em;
}

footer {
  p {
    font-size: 13px;
    line-height: 138%;
    letter-spacing: -0.01em;
    text-align: center;
    color: #969696;
    margin: 0;

    a {
      font-family: "Inter", sans-serif;
      color: #007bff;
    }
  }

  hr {
    height: 1px;
    width: 500px;
    border: none;
    background-color: #E4E4E4;
    margin-block: 20px;
  }

  .last-text {
    display: flex;
    gap: 20px;
    font-size: 15px;
    line-height: 147%;
    letter-spacing: -0.01em;
    justify-content: center;

    span {
      color: #545454;
    }

    a {
      font-weight: 500;
      color: #007bff;
    }
  }
}

/* for second list- profile */

.photo {
  position: relative;
  display: flex;

  [type=file] {
    display: none;

    +input {
      border: 1px solid #e4e4e4;
      border-radius: 6px;
      width: 138px;
      height: 30px;
      pointer-events: none;
    }
  }

  .line-photo {
    display: flex;
    gap: 9px;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 10px;

    ::after {
      content: url(images/camera.svg);
      position: absolute;
      margin: -31px -20px;
    }
  }
}

.basket {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  border: 1px solid #e4e4e4;
  background-color: white;
  background-image: url(images/basket.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.update {
  width: 150px;
}